header {
  height: 60px;
  width: 100vw;
  background-color: grey;
  display: flex;
}

.company {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: grey;
  width: 50vw;
  color: white;
  font-style: bold;
  font-size: 20px;
  padding-left: 50px;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: grey;
  width: 50vw;
  color: black;
  font-size: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
.top-menu > ul {
  display: flex;
  align-items: center;
  width: 50vw;
}

ul > li {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: space-between;
  color: white;
}

body {
  width: 100vw;
  height: 90vh;
}

.know {
  background-color: black;
  height: 300px;
  width: 100vw;
  color: yellow;
  font-style: bold 10px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teal-boxes {
  display: flex;
  padding: 20px;
  height: 300px;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

.teal-boxes > :nth-child(1) {
  display: flex;
  background-color: aquamarine;
  height: 250px;
  width: 250px;
  border-radius: 20px;
}
.teal-boxes > :nth-child(2) {
  display: flex;
  background-color: aquamarine;
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

.teal-boxes > :nth-child(3) {
  display: flex;
  background-color: aquamarine;
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

.orange-rects {
  display: flex;
  padding: 200px;
  height: 300px;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

.orange-rects > :nth-child(1) {
  display: flex;
  background-color: orange;
  height: 250px;
  width: 600px;
}

.orange-rects > :nth-child(2) {
  display: flex;
  background-color: orange;
  height: 250px;
  width: 600px;
}

.extras {
  display: flex;
  padding: 20px;
  height: 300px;
  width: 100vw;
  padding: 200px;
  justify-content: space-evenly;
  align-items: center;
}

.para {
  height: 250px;
  width: 600px;
  text-align: left;
  font-size: 25px;
}

footer {
  height: 100px;
  width: 100vw;
  background-color: purple;
}
